[Desktop Entry]
Version=1.0
Type=Application
Name=Restart
Comment=Restart the computer
Exec=systemctl reboot
Icon=system-reboot
Terminal=false
Categories=System;
